mixin password(label, id, name, inputContainerClass, inputClass, labelClass, placeholder)
    div(class=`${inputContainerClass}`)
        if label
            label(
                class=`input__label ${labelClass || ""}`
                for=id
                )= label
            input(
                type="password"
                class=`input__field ${inputClass || ""}`
                id=id
                name=name
                placeholder=placeholder
            )